@using Etkinlik.Models.ActivityViewModels
@{
    ViewData["Title"] = "Etkinlik Ekle";
}

@model UpdateActivityModel

<!DOCTYPE html>
<html>
<head>
    <title>Etklinlik Ekle</title>
    @Html.Partial("~/Views/metaTag.cshtml")
</head>
<body>
    <section>
        <form method="post">
            <fieldset>

                <div class="container" style="margin-top:100px">
                    <div class="row">

                        <div class="col-lg-6 col-md-12" style="margin-left:auto; margin-right:auto;">

                            <div class="panel panel-default">
                                <div class="heading">
                                    <div class="headingg">
                                        <strong style="color:white">Etkinlik Ekleme</strong>
                                    </div>

                                </div>

                                <div class="panel-body">

                                    <div class="col-sm-12 col-md-10  col-md-offset-2 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label>Activity Name</label>
                                                <input asp-for="PostName" class="form-control" type="text" placeholder="Enter Activity Name" />
                                            </div>
                                            <span asp-validation-for="PostName" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-10  col-md-offset-2 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label> Activity Detail</label>
                                                <input asp-for="PostDesc" class="form-control" type="text" placeholder="Enter Activity Detail" />
                                            </div>
                                            <span asp-validation-for="PostDesc" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-10  col-md-offset-2 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label> Activity Date</label>
                                                <input asp-for="PostDate" type="date" value="" placeholder="Enter Activity Date" />
                                            </div>
                                            <span asp-validation-for="PostDate" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-10  col-md-offset-2 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <label> Activity Time</label>
                                                <input asp-for="PostTime" type="time" value="00:00" placeholder="Enter Activity Time" />
                                            </div>
                                            <span asp-validation-for="PostTime" class="text-danger"></span>
                                        </div>
                                    </div>



                                    <div class="col-sm-12 col-md-10  col-md-offset-4 ">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <button type="submit" class="btnn">Add Activity</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

            </fieldset>
        </form>
    </section>

</body>
</html>
